@font-face {
  font-family: 'GothamBook';
  src: url("../fonts/GothamBook.eot");
  src: local("GothamBook"), url("../fonts/GothamBook.woff") format("woff"), url("../fonts/GothamBook.ttf") format("truetype");
}

@font-face {
  font-family: 'gothambold1';
  src: url("../fonts/gothambold1.eot");
  src: local("gothambold1"), url("../fonts/gothambold1.woff") format("woff"), url("../fonts/gothambold1.ttf") format("truetype");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 2200px;
  width: 100%;
  background-color: darkcyan;
  scroll-behavior: smooth;
}

header {
  background: url("/img/aboutUs1.png"), url("/img/aboutUs2.png");
  background-repeat: no-repeat, no-repeat;
  background-position: top, top;
  background-size: cover;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.navbar {
  position: fixed;
  top: 0px;
  width: 100%;
}

.navbar .container {
  width: 75%;
  height: 100%;
  margin: 0 auto;
  right: -100;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar .container .navbar__logo {
  padding: 20px 30px;
}

.navbar .container .navbar__menu {
  position: relative;
}

@media screen and (max-width: 767px) {
  .navbar .container .navbar__menu {
    position: fixed;
    top: 0;
    right: 0;
    width: 70%;
    height: 100%;
    box-shadow: -1px 0 4px rgba(14, 55, 63, 0.15);
    padding: 3rem;
    transition: .4s;
  }
}

.navbar .container .navbar__menu .navbar__menu-items {
  margin: 0;
  padding-bottom: 90px;
  padding-left: 30px;
  list-style: none;
  font-family: 'GothamBook';
  color: #ffffff;
  font-size: 20px;
  clear: both;
  max-height: 0;
  transition: max-height .2s ease-out;
}

.navbar .container .navbar__menu .navbar__menu-items li {
  display: inline-block;
  text-transform: uppercase;
}

.navbar .container .navbar__menu .navbar__menu-items li a {
  height: 100%;
  color: #ffffff;
  display: block;
  padding: 30px;
  text-decoration: none;
}

.navbar .container .nav-close {
  position: absolute;
  top: .75rem;
  right: 1rem;
  font-size: 1.5rem;
  cursor: pointer;
}

.show-menu {
  right: 0;
}

h1 {
  font-family: 'gothambold1';
  color: #ffffff;
  font-size: 90px;
}

p {
  font-family: 'GothamBook';
  color: #ffffff;
  font-size: 30px;
}

.about-us__slogan {
  height: 120 px;
  width: 100%;
  text-align: center;
}

.about-us__scroll-down {
  height: 50px;
  width: 50px;
  border: 2px solid white;
  border-radius: 50%;
  position: absolute;
  left: 47%;
  bottom: 45px;
  cursor: pointer;
}

.about-us__scroll-down:before {
  content: '';
  position: absolute;
  top: 20%;
  left: 50%;
  border: 2px solid whitesmoke;
  height: 10px;
  width: 10px;
  transform: translate(-50%, -50%) rotate(45deg);
  border-top: transparent;
  border-left: transparent;
  animation: about-us__scroll-down 1s ease-in-out infinite;
}

.about-us__scroll-down:after {
  content: '';
  position: absolute;
  top: 20%;
  left: 50%;
  border: 2px solid whitesmoke;
  height: 10px;
  width: 10px;
  transform: translate(-50%, -90%) rotate(45deg);
  border-top: transparent;
  border-left: transparent;
  animation: about-us__scroll-down 1s ease-in-out infinite;
}

.about-us__scroll-down:after {
  top: 10%;
  animation-delay: .2s;
}

.projects {
  background-color: #ffffff;
}

.projects .title {
  height: 273px;
  width: 80%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
}

.projects .title h2 {
  font-family: 'gothambold1';
  font-weight: 500;
  color: #000;
}

.projects .about-us__trade-center {
  height: 680px;
  width: 100%;
  margin: 0 auto;
  background-color: #ffffff;
  display: flex;
}

.projects .about-us__trade-center .about-us__trade-center__photo {
  height: 100%;
  width: 55%;
  border: 2px solid red;
}

.projects .about-us__trade-center .about-us__trade-center__text {
  height: 100%;
  width: 45%;
  border: 2px solid #2f2db6;
}

.projects .about-us__commerce-centre {
  height: 680px;
  width: 100%;
  margin: 0 auto;
  background-color: #00ff15;
  display: flex;
}

.projects .about-us__commerce-centre .about-us__commerce-centre__text {
  height: 100%;
  width: 45%;
  border: 2px solid #2f2db6;
}

.projects .about-us__commerce-centre .about-us__commerce-centre__photo {
  height: 100%;
  width: 55%;
  border: 2px solid red;
}

.news {
  height: 1633px;
  width: 80%;
  margin: 0 auto;
}

.news .wrapper {
  margin-top: 50px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.news .wrapper .slide {
  padding: 0;
  margin: 30px;
  height: 515px;
  width: 370px;
  background-color: #ffffff;
}

.news .wrapper .slide .img {
  height: 50%;
  width: 100%;
  top: 0;
}

.news .wrapper .slide .slide-item {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.news .wrapper .slide .slide-item .slide__titles {
  height: 100px;
  width: 100%;
  padding: 20px 30px;
  font-size: 20px;
  text-transform: uppercase;
}

.news .wrapper .slide .slide-item .slide-item-text {
  height: 50px;
  padding: 10px 30px;
  font-family: 'GothamBook';
}

.news .wrapper .slide .slide-author {
  height: 110px;
  width: 100%;
  display: flex;
  margin-bottom: 2px;
  background-color: #ffffff;
}

.news .wrapper .slide .slide-author .author-img {
  margin: 20px 20px;
}

.news .wrapper .slide .slide-author .name-date {
  margin: 30px 20px;
  font-family: 'GothamBook';
}

.news .wrapper .slide .slide-author .name-date .name {
  font-size: 19px;
  color: #2c4058;
}

.news .wrapper .slide .slide-author .name-date .date {
  color: #6cc1ff;
  font-size: 15px;
}

.news .title {
  height: 273px;
  width: 80%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'gothambold1';
  font-size: 33px;
  color: #ffffff;
}

.slide__titles {
  font-family: 'gothambold1';
  color: #2c4058;
}

.news {
  background: url("/img/latestNews1.png"), url("/img/latestNews2.png");
  background-repeat: no-repeat, no-repeat;
  background-position: top, top;
  background-size: 100% 100%;
  width: 100%;
  height: 1035px;
}

.gallery {
  height: 1000px;
  width: 100%;
  background-color: #abd21e;
}

.contact {
  height: 700px;
  width: 100%;
  background-color: #b41ed2;
}

.blu {
  background-color: #7370f9;
  transition: 1s;
  z-index: 1000;
}

footer {
  height: 521px;
  width: 100%;
  background-color: #d21e1e;
}

@keyframes about-us__scroll-down {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    top: 90%;
  }
}

@media (min-width: 48em) {
  nav li {
    float: left;
  }
  nav li a {
    padding: 20px 30px;
  }
  .navbar__menu {
    clear: none;
    float: right;
    max-height: none;
    right: -100%;
  }
  .menu-icon {
    display: none;
  }
}

.show-menu {
  right: 0;
  color: red;
}
/*# sourceMappingURL=main.css.map */